body {
    background-image: url("../lib/img/mesh-gradient.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

.container {
    padding: 0;
}

h2, h3 {
    font-weight: bold;
    color: #190f33;
}

h1 {
    font-size: 65px;
    color: rgb(46, 46, 46);
    line-height: 200px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

h3 {
    font-size: 26px;
    margin-bottom: 40px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 30px;
}

main {
    width: 1280px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
}

nav {
    height: 100px;
    display: flex;
}

nav a {
    font-size: 18px;
    color : #190f33;
    text-decoration: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    font-weight: bold;
}

section {
    padding: 100px;
}

#contact, #education {
    background-color: #eeeef7;
    width: 100%;
}

.aboutme {
    /* display: flex; */
    /* justify-content:center; */
    margin-bottom: 50px;
    align-items: center;
}

.aboutme img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: contain;
    margin: 0 0 20px 0;
    /* border: #b990df9f dashed 2px; */
    /* margin-right: 30px; */
}

.aboutme p {
    text-align: justify;
    margin: 0 0 20px 0;
}

.aboutme span {
    font-weight: bold;
}

#education div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#education img {
    height: 100px;
}

#education span {
    font-weight: bold;
}

#education p{
    text-align: center;
    margin: 60px 0 30px 0;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 100px 0px;
}

#projects h3 {
    margin-top: 30px;
}

#projects p{
    text-align: center;
    margin: 20px 0 0 0;
}

.project-content img {
    width: 500px;
    margin-right: 60px;
}

.project-content li {
    line-height: 30px;
    list-style-type: disc;
}

.project-content li.link-disc {
    list-style-type: none;
    /* position du ::before par rapport à cet élément */
    position: relative;
    padding-left: 30px;
    margin-top : 20px;
}

.project-content li.link-disc::before {
    /* création d'un élément vide avant <li> */
    content: "";
    /* positionne le pseudo-élément par rapport au <li> */
    position: absolute; 
    /* position à 0px à gauche du <li> */
    left: 0;
    /* position à 50% de la hauteur du <li> */
    top: 50%;
    /* ajuste la position pour le centrer verticalement par rapport au <li> */
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../lib/img/lien.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#contact {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#contact img {
    height: 30px;
    margin-right: 20px;
}

#contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

#contact a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

#contact a:hover {
    color: black;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scrollUp {
    position: fixed;
    bottom : 30px;
    right: 60px;
}