body {
    /* background-color: #5c48d2; */
    background-image: url("../lib/img/mesh-gradient.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

h2, h3 {
    font-weight: bold;
    color: #190f33;
}

h1 {
    font-size: 65px;
    color: rgb(46, 46, 46);
    line-height: 200px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

h3 {
    font-size: 26px;
    margin-bottom: 40px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 30px;
}

main {
    width: 1280px;
    /* width: 1024px; */
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
}

nav {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: #08080a 1px solid; */
    height: 100px;
    display: flex;
    /* margin-left: 10px; */
}

nav a {
    /* line-height: 100px; */
    font-size: 20px;
    color : #190f33;
    text-decoration: none;
    flex: 1;
    /* border: #190f33 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

nav a:hover {
    /* color : #5c48d2; */
    /* cursor: pointer; */
    font-weight: bold;
}

.computer {
    height: 400px;
    width: 1024px;
    object-fit: cover;
}

section {
    padding: 100px;
}

/* #about-me, #projects {
    background-color: white;
} */

#contact, #education {
    background-color: #eeeef7;
}

#contact {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.aboutme {
    display: flex;
    justify-content:center;
    /* border: #190f33 1px solid; */
    margin-bottom: 100px;
    align-items: center;
}

.aboutme img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: contain;
    border: #b990df9f dashed 2px;
    margin-right: 30px;
}

.aboutme p {
    text-align: justify;
}

.aboutme span {
    font-weight: bold;
}

/* .name {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 50px;
} */

/* .city {
    font-size: 30px;
    font-style: italic;
    text-align: center;
} */

/* .name, .city {
    color:#190f33;
} */

#education div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px;
}

#education img {
    height: 100px;
}

#education span {
    font-weight: bold;
}

#education p, #projects p{
    text-align: center;
}

.project-content img {
    width: 500px;
    margin-right: 60px;
    /* border: #4f18da 1px solid; */
}

.project-content li {
    line-height: 30px;
    list-style-type: disc;
}

.project-content li.link-disc {
    list-style-type: none;
    /* position du ::before par rapport à cet élément */
    position: relative;
    padding-left: 30px;
    margin-top : 20px;
}

.project-content li.link-disc::before {
    /* création d'un élément vide avant <li> */
    content: "";
    /* positionne le pseudo-élément par rapport au <li> */
    position: absolute; 
    /* position à 0px à gauche du <li> */
    left: 0;
    /* position à 50% de la hauteur du <li> */
    top: 50%;
    /* ajuste la position pour le centrer verticalement par rapport au <li> */
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../lib/img/lien.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    /* border: #190f33 1px solid; */
    margin: 100px 0px 100px 0px;
}

#contact img {
    height: 30px;
    margin-right: 20px;
}

#contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

#contact a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

#contact a:hover {
    color: black;
}

footer p {
    color: #c4c4c4;
    line-height: 40px;
}

footer a {
    color: #fcc01a;
    line-height: 40px;
    text-decoration: none;
}

footer a:hover {
    color: #190f33;
}

footer {
    height: 200px;
    /* background-color: #fcc01a; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scrollUp {
    position: fixed;
    bottom : 30px;
    right: 60px;
    /* opacity: 0.5; */
}